Sari Sandbox V2.sln.DotSettings.user
.DS_Store
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Sari Sandbox V2.sln
Library
Logs
Temp
UserSettings
obj
Assets/InputSystem_Actions.inputactions
Assets/Readme.asset
Assets/TutorialInfo
.idea
Assets/Meshes
Assets/Samples
Unity.RenderPipelines.Core.Samples.Editor.csproj
Unity.RenderPipelines.Core.Samples.Runtime.csproj
mono_crash.143e1228bd.0.json
Assets/Materials/Scalable Grid Prototype Materials
!Assets/Materials/Shaders
mono_crash.187ac900c0.0.json
MCPDefinition.csproj
BrewedInk.BNuget.csproj
BrewedInk.BNuget.Sample.QRCodes.csproj
BrewedInk.BNuget.Sample.DadJokes.csproj
BrewedInk.BNuget.Sample.LlamaSharp.Editor.csproj
BrewedInk.BNuget.Sample.LlamaSharp.csproj
Assets/XR
Assets/XRI
Assets/Resources/Animated Hands
Assets/Resources/FBX
Assets/Resources/Materials

Assets/Resources/Prefabs
Assets/Resources/Textures
Assets/Scripts/.claude
Assets/Resources/New LOD2s
