Sari Sandbox V2.sln.DotSettings.user
.DS_Store
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Sari Sandbox V2.sln
*.meta
Library
Logs
Temp
UserSettings
obj
Assets/InputSystem_Actions.inputactions
Assets/Readme.asset
Assets/TutorialInfo
Assets/Settings
.idea
Assets/Resources
Assets/Meshes
Assets/Prefabs
Assets/Samples
Unity.RenderPipelines.Core.Samples.Editor.csproj
Unity.RenderPipelines.Core.Samples.Runtime.csproj
mono_crash.143e1228bd.0.json
Assets/Materials/*
!Assets/Materials/Shaders
